html {
	background: #ffffff;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y: scroll;
}

button.deleteBtn { 
  color:#050; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#fed; 
  border:1px solid; 
  border-color: #696 #363 #363 #696; 
} 

body {
	padding:0;
	margin :0;
	display:table; 
	width:100%;	
} 
  
body {
	color:#444455;
	font-family: Verdana, sans-serif ;
	font-size: 11px;
	font-style: normal ;
	font-weight: normal ;
	text-transform: normal;
}

span.error{
	color:#FF0000;
	font-family: Verdana, sans-serif ;
	font-size: 13px;
	font-style: normal ;
	font-weight: normal ;
	text-transform: normal;	
}

span.success{
	color:green;
	font-family: Verdana, sans-serif ;
	font-size: 13px;
	font-style: normal ;
	font-weight: normal ;
	text-transform: normal;	
}


p {
	letter-spacing: normal ;
	line-height: 1.6em ;
}


h1 {
	color:#9090a8;
	font-size:25px ;
	margin:25px 0 10px 0;
	clear:both;
}


h2 {
	color:#9090a8;
	font-size:16px ;
	margin:20px 0 10px 0;
	clear:both;
}

h2.welcome{
	font-style: oblique;	
}


h3 {
	color:#9090a8;
	font-size:12px;
	margin:20px 0 5px 0;
	clear:both;
}



a:link, a:visited {
	color:white ;
	text-decoration:none;
}


a:hover {
	color:0da000;
	text-decoration:underline;
}

  
  

#wrapper {
	background: transparent url( images/page-vbg.jpg ) repeat-y scroll 50% 0px ;
	margin:0 auto ;
	width:100%;
}

  
  
body {
	background-color:#ffffff;
}


#wrapper {
	border-top: 1px solid #ffffff;
}






#bg {
	margin:0 auto;
	padding:0;
	background:transparent ;
	background-image: url( images/hat.jpg ) ;
 	background-repeat:no-repeat;	
	background-position: center top ;
}



  
  
#header {
	margin: 0 auto;
	min-height:0px;
	height: 0px;
	width: 800px;
}


#page {
	background: transparent url( images/page-bg.jpg ) no-repeat center top;
}



  
  

#container {
	margin:0 auto;
	width:800px; 
}


#banner {
	margin: 0 auto;
	height:170px;
	width:100%;
}

  
  


#nav1 {
	height:45px;
	margin:0 auto ;
	text-align:center;
}

#nav1 ul {
	display:table;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:45px;
	text-transform:uppercase;
	font-size:12px;
	font-family:Arial,sans-serif;
}


#nav1 ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	background:transparent url("images/hmenu.jpg") repeat-x top left;
	border-left:1px solid #1e1e1e ;

}


#nav1 ul li a {
	display:block;
	float:left;
	color:#f0f0f0;
	text-decoration:none;
	padding:0px 50px ;
	line-height:45px;
	font-weight:bold;
}


#nav1 ul li a:hover, #nav1 li#current a {
	color:#f0f0f0;
	background:transparent url("images/hmenu-sel.jpg") repeat-x top left;
}

li.current{
	color:#f0f0f0;
	background:transparent url("images/hmenu-sel.jpg") repeat-x top left;
}

#content {
	width:800px;
	margin:0 auto ;
	text-align:left;
	min-height:800px;
}
#createpost {
	width:800px;
	margin:0 auto ;
	text-align:left;
	min-height:800px;
	margin-left: 125px
}

#callbackmessage {
	width:800px;
	margin:0 auto ;
	text-align:left;
	min-height:20px;
	margin-left: 125px
}



#content p {
	text-align:justify;
}


#footerWrapper {
	margin:0 auto;
	height:130px;
	padding:0;
	background:transparent url( images/footerWrapper-bg2.jpg ) no-repeat scroll center top ;
}


#footer {
	margin:0 auto;
	padding:0;
	width:800px;
	height:130px;
}


  
  
#footer {
	color:#f0f0f0;
	text-align:center;
}

#footer a:link, #footer a:visited {
	color:#f2f2f2;
}


#footer a:hover{
	color:#008cf7;
	text-decoration:none;
}



  
  




#right {
	width:200px;
	padding:10px 20px 20px 20px;
	float:left;
}


#center {
	width:520px;	
	padding:10px 20px 20px 20px ;
	float:left;
}

 
#content p {
	margin-top:10px;
	text-align:justify;
}

#content p.signpost {
	 font-style: italic;
	 font-weight: lighter;
	 text-align:left;
}

#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px; 
	padding: 0;
	text-decoration: none;	
	border-top: 1px solid #e5e5e5;	
}


#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;	
	border-bottom: 1px solid #e5e5e5;
}



#sidebar ul.vmenu li a {
	text-decoration: none;
	color:#003078;
}


#sidebar ul.vmenu li a:hover {
	color:#008cf7;
}


#sidebar ul.vmenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.vmenu ul li { border: none; }







.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}



